{% extends 'vacation_management_app/base.html' %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center flex-column" style="height: inherit;">
    <div class="col-10 col-sm-6 col-md-5">{% include 'vacation_management_app/messages.html' %}</div>
    {% if unavalaible and not messages %}
    <div class="alert col-10 col-sm-6 col-md-5 alert-warning alert-dismissible fade show" role="alert">
        <strong>Attention!</strong> Unfortunately, your current status is <b>Viewer</b>, so you cannot send any requests, ask the administrator to change your status
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <form class="col-10 col-sm-6 col-md-5"{% if unavalaible %}{% else %} method="POST"{% endif %}>
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_start_date" class="form-label mb-1">Start date:</label>
            <input type="date" name="start_date" class="form-control" required id="id_start_date">
        </div>
        <div class="mb-3">
            <label for="id_finish_date" class="form-label mb-1">Finish date:</label>
            <input type="date" name="finish_date" class="form-control" required id="id_finish_date">
        </div>
        <div class="mb-3">
            <label for="id_reason" class="form-label mb-1">Reason:</label>
            <textarea name="reason" rows="5" maxlength="1000" class="form-control" id="id_reason"></textarea>
        </div>
        {% if unavalaible %}<button class="btn btn-secondary" disabled >Submit</button>{% else %}<button type="submit" class="btn btn-primary">Submit</button>{% endif %}
    </form>
</div>
{% endblock content %}
